In [1]:
# Importo la libreria
import pandas as pd

In [2]:
# Introducimos los datos que tenemos
capacidad = int(input("Peso total que el camión puede llevar en kg: "))
n = int(input("Número total de vacas a la venta: "))
caracteristicas_vacas = []

Peso total que el camión puede llevar en kg:  100
Número total de vacas a la venta:  7

In [3]:
#Petición de datos de cada vaca y almacenamiento en un array de colecciones tipo diccionario
for count in range(n):
    peso = int(input(f"Peso en kg de la vaca {count+1} : "))
    produccion = int(input(f"Producción en l/día de la vaca {count+1} : "))
    caracteristicas_vacas.append(dict(key = count+1, key_peso = peso, key_produccion = produccion))

Peso en kg de la vaca 1 :  10
Producción en l/día de la vaca 1 :  250
Peso en kg de la vaca 2 :  15
Producción en l/día de la vaca 2 :  350
Peso en kg de la vaca 3 :  20
Producción en l/día de la vaca 3 :  700
Peso en kg de la vaca 4 :  35
Producción en l/día de la vaca 4 :  850
Peso en kg de la vaca 5 :  40
Producción en l/día de la vaca 5 :  700
Peso en kg de la vaca 6 :  45
Producción en l/día de la vaca 6 :  900
Peso en kg de la vaca 7 :  50
Producción en l/día de la vaca 7 :  800

In [10]:
# Convierto el diccionario en dataframe
datos = pd.DataFrame(caracteristicas_vacas)
datos

   key  key_peso  key_produccion
0    1        10             250
1    2        15             350
2    3        20             700
3    4        35             850
4    5        40             700
5    6        45             900
6    7        50             800

In [11]:
# Ordeno por rentabilidad.
datos['rentabilidad']= datos['key_produccion']/datos['key_peso']
datos = datos.sort_values(by=['rentabilidad'], ascending=False)
datos

   key  key_peso  key_produccion  rentabilidad
2    3        20             700     35.000000
0    1        10             250     25.000000
3    4        35             850     24.285714
1    2        15             350     23.333333
5    6        45             900     20.000000
4    5        40             700     17.500000
6    7        50             800     16.000000

In [6]:
# convierto en listas
vaca = datos['key'].tolist()
peso = datos['key_peso'].tolist()
produccion = datos['key_produccion'].tolist()

In [12]:
vaca

[3, 1, 4, 2, 6, 5, 7]

In [13]:
peso

[20, 10, 35, 15, 45, 40, 50]

In [14]:
produccion

[700, 250, 850, 350, 900, 700, 800]

In [7]:
# vemos el peso de las vacas mas productivas hasta llegar a peso del camión
i = 0
s = 0
new_list = []
while i < len(peso) and s + peso[i] < capacidad:
    new_list.append(peso[i])
    s += peso[i]
    i += 1

In [15]:
new_list

[20, 10, 35, 15]

In [16]:
#Obtengo la producción máxima    
def camion_ingenuo(produccion, peso, capacidad, n):
    if n == -1 or capacidad == 0:
        return 0
    if peso[n] <= capacidad:
        no_insert = camion_ingenuo(produccion, peso, capacidad, n-1)
        insert = produccion[n] + camion_ingenuo(produccion, peso, capacidad - peso[n], n-1)
        max_sack = max(no_insert, insert)
        return max_sack 
    else:
        return camion_ingenuo(produccion, peso, capacidad, n-1)

result = (camion_ingenuo(produccion, peso, capacidad, n-1))

In [17]:
   

print("La combinacion de vacas que entra en el camión y que produce la mayor cantidad de leche es: ")


print("vaca número: ", vaca[0:len(new_list)])
print("Peso de las vacas seleccionadas: ", new_list)
print("Produccion total: ", result)

La combinacion de vacas que entra en el camión y que produce la mayor cantidad de leche es:
vaca número:  [3, 1, 4, 2]
Peso de las vacas seleccionadas:  [20, 10, 35, 15]
Produccion total:  2450